<%= form_with model: guesthouse do |f| %>
  <% if guesthouse.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% guesthouse.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Informações Básicas</legend>
    <p>
      <%= f.label :corporate_name %>
      <%= f.text_field :corporate_name %>
    </p>

    <p>
      <%= f.label :brand_name %>
      <%= f.text_field :brand_name %>
    </p>

    <p>
      <%= f.label :registration_code %>
      <%= f.text_field :registration_code %>
    </p>

    <p>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </p>
  </fieldset>

  <fieldset>
    <legend>Endereço</legend>
    <%= f.fields_for :address do |address_form| %>
      <p>
        <%= address_form.label :street %>
        <%= address_form.text_field :street %>
      </p>

      <p>
        <%= address_form.label :neighborhood %>
        <%= address_form.text_field :neighborhood %>
      </p>

      <p>
        <%= address_form.label :city %>
        <%= address_form.text_field :city %>
      </p>

      <p>
        <%= address_form.label :state %>
        <%= address_form.select :state, options_for_select(Address.states.keys
                                                                  .map { |state| [state, state] }, address_form.object.state) %>
      </p>

      <p>
        <%= address_form.label :postal_code %>
        <%= address_form.text_field :postal_code %>
      </p>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Informações Adicionais</legend>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :use_policy %>
      <%= f.text_area :use_policy %>
    </p>
  </fieldset>


  <fieldset>
    <legend>Horários</legend>
    <p>
      <%= f.label :checkin_hour %>
      <%= f.time_select :checkin_hour %>
    </p>

    <p>
      <%= f.label :checkout_hour %>
      <%= f.time_select :checkout_hour %>
    </p>
  </fieldset>


  <fieldset>
    <legend>Demais Opções</legend>
    <p>
      <%= f.label :pets %>
      <%= f.check_box :pets %>
    </p>

    <p>
      <%= f.label :active %>
      <%= f.check_box :active %>
    </p>
  </fieldset>

  <fieldset>
    <legend>Métodos de Pagamento</legend>

    <% PaymentMethod.all.each do |payment_method| %>
      <%= check_box_tag 'guesthouse[payment_method_ids][]', payment_method.id,
                        guesthouse.payment_method_ids.include?(payment_method.id),
                        id: "payment_method_#{payment_method.id}" %>
      <%= label_tag "payment_method_#{payment_method.id}",
                    t("payment_methods.#{payment_method.method}") %>
    <% end %>
  </fieldset>

  <p>
    <%= f.submit %>
  </p>
<% end %>