<article>
  <h2><%= @guesthouse.brand_name %></h2>
  <p>Conheça a <%= Guesthouse.model_name.human %></p>
  <p>
    <% if @guesthouse.guesthouse_owner.user == current_user %>
      <%= link_to 'Editar Pousada', edit_guesthouse_path(@guesthouse.id) %>
    <% end %>
  </p>
  <dl>
    <dt><%= Guesthouse.human_attribute_name(:description) %>:</dt>
    <dd><%= @guesthouse.description %></dd>
    <dt>Endereço:</dt>
    <dd>
      <%= @guesthouse.address.street %>, <%= @guesthouse.address.neighborhood %>,
      <%= @guesthouse.address.city %> - <%= @guesthouse.address.state %>,
      <%= @guesthouse.address.postal_code %>
    </dd>
    <dt><%= Guesthouse.human_attribute_name(:phone_number) %>:</dt>
    <dd><%= @guesthouse.phone_number %></dd>
    <dt><%= Guesthouse.human_attribute_name(:email) %>:</dt>
    <dd><%= @guesthouse.email %></dd>

    <dt><%= Guesthouse.human_attribute_name(:use_policy) %>:</dt>
    <dd><%= @guesthouse.use_policy %></dd>
    <dt><%= Guesthouse.human_attribute_name(:checkin_hour) %>:</dt>
    <dd><%= @guesthouse.checkin_hour.strftime("%H:%M") %></dd>
    <dt><%= Guesthouse.human_attribute_name(:checkout_hour) %>:</dt>
    <dd><%= @guesthouse.checkout_hour.strftime("%H:%M") %></dd>
    <dt><%= Guesthouse.human_attribute_name(:pets) %>:</dt>
    <dd><%= @guesthouse.pets ? 'Permitido' : 'Proibido'  %></dd>
    <dt><%= Guesthouse.human_attribute_name(:payment_methods) %>:</dt>
    <% @guesthouse.payment_methods.each do |payment_method| %>
      <dd><%= t("#{payment_method.method}") %></dd>
    <% end %>
  </dl>

  <hr>

  <section>
    <h3>Algumas Avaliações</h3>
    <p>
      <%= link_to 'Ver todas as avaliações', guesthouse_reviews_path(@guesthouse.id) %>
    </p>
    <%= render 'shared/reviews', reviews: @reviews %>
  </section>

  <hr>

  <%= render "rooms/basic_room", guesthouse: @guesthouse, rooms: @rooms %>
</article>