<article>
  <h2>Pousada <%= @guesthouse.brand_name %></h2>
  <p>Conheça a pousada</p>

  <dl>
    <dt>Local:</dt>
    <dd><%= @guesthouse.address.city %> - <%= @guesthouse.address.state %></dd>
    <dt>Descrição:</dt>
    <dd><%= @guesthouse.description %></dd>
    <dt>Política de uso:</dt>
    <dd><%= @guesthouse.use_policy %></dd>
    <dt>Check-in:</dt>
    <dd><%= @guesthouse.checkin_hour.strftime("%H:%M") %></dd>
    <dt>Check-out:</dt>
    <dd><%= @guesthouse.checkout_hour.strftime("%H:%M") %></dd>
    <dt>Pets:</dt>
    <dd><%= @guesthouse.pets ? 'Permitido' : 'Proibido'  %></dd>
    <dt>Formas de Pagamento:</dt>
    <% @guesthouse.payment_methods.each do |payment_method| %>
      <dd><%= t("payment_methods.#{payment_method.method}") %></dd>
    <% end %>
  </dl>

  <p>
    <%= link_to 'Quartos', guesthouse_rooms_path(@guesthouse.id) %>
  </p>

  <p>
    <% if @guesthouse.guesthouse_owner.user == current_user %>
      <%= link_to 'Editar Pousada', edit_guesthouse_path(@guesthouse.id) %>
    <% end %>
  </p>
</article>