<article>
  <h2>Detalhes da <%= Booking.model_name.human %> <%= @booking&.reservation_code %></h2>

  <dl>
    <dt><strong><%= Booking.human_attribute_name(:status) %>:</strong></dt>
    <dd><%= t("activerecord.attributes.booking.statuses.#{@booking&.status}") %></dd>

    <dt><strong><%= Room.model_name.human %>:</strong></dt>
    <dd><%= @booking&.room&.name %></dd>

    <dt><strong><%= Guesthouse.model_name.human %>:</strong></dt>
    <dd><%= @booking&.room&.guesthouse&.brand_name %></dd>

    <dt><strong><%= Booking.human_attribute_name(:check_in_date) %>:</strong></dt>
    <dd><%= @booking&.check_in_date&.strftime('%d/%m/%Y') %></dd>

    <dt><strong><%= Booking.human_attribute_name(:check_in_hour) %>:</strong></dt>
    <dd><%= @booking&.check_in_hour&.strftime('%H:%M') %></dd>

    <dt><strong><%= Booking.human_attribute_name(:check_out_date) %>:</strong></dt>
    <dd><%= @booking&.check_out_date&.strftime('%d/%m/%Y') %></dd>

    <dt><strong><%= Booking.human_attribute_name(:check_out_hour) %>:</strong></dt>
    <dd><%= @booking&.check_out_hour&.strftime('%H:%M') %></dd>

    <dt><strong><%= Booking.human_attribute_name(:number_of_guests) %>:</strong></dt>
    <dd><%= @booking&.number_of_guests %></dd>

    <dt><strong><%= Booking.human_attribute_name(:total_price) %>:</strong></dt>
    <dd><%= number_to_currency(@booking&.total_price, unit: 'R$', separator: ',', delimiter: '.') %></dd>

    <dt><strong><%= PaymentMethod.model_name.human(count: @booking&.room&.guesthouse&.payment_methods&.count) %>:</strong></dt>
    <dd>
      <ul>
        <% @booking&.room&.guesthouse&.payment_methods&.each do |payment_method| %>
          <li><%= t("#{payment_method.method}") %></li>
        <% end %>
      </ul>
    </dd>
  </dl>
  <% unless @booking&.check_in_confirmed_date.nil? %>
    <hr>
    <h3>Dados do Check-In efetivado</h3>
    <dl>
      <dt><strong><%= Booking.human_attribute_name(:check_in_confirmed_date) %>:</strong></dt>
      <dd><%= @booking&.check_in_confirmed_date&.strftime('%d/%m/%Y') %></dd>

      <dt><strong><%= Booking.human_attribute_name(:check_in_confirmed_hour) %>:</strong></dt>
      <dd><%= @booking&.check_in_confirmed_hour&.strftime('%H:%M') %></dd>
    </dl>
  <% end %>

  <% unless @booking&.check_out_confirmed_date.nil? %>
    <hr>
    <h3>Dados do Check-Out efetivado</h3>
    <dl>
      <dt><strong><%= Booking.human_attribute_name(:check_out_confirmed_date) %>:</strong></dt>
      <dd><%= @booking&.check_out_confirmed_date&.strftime('%d/%m/%Y') %></dd>

      <dt><strong><%= Booking.human_attribute_name(:check_out_confirmed_hour) %>:</strong></dt>
      <dd><%= @booking&.check_out_confirmed_hour&.strftime('%H:%M') %></dd>

      <dt><strong>Total Pago:</strong></dt>
      <dd><%= number_to_currency(@booking&.total_paid, unit: 'R$', separator: ',', delimiter: '.') %></dd>

      <dt><strong>Forma de Pagamento:</strong></dt>
      <dd><%= t(@booking&.payment_method) %></dd>
    </dl>
  <% end %>

  <% if @booking&.finished? && !@booking&.review && current_user&.guest? && current_user.guest == @booking&.guest %>
    <div id="review-form">
      <h3><%= Review.model_name.human %></h3>
      <%= form_with(model: [@booking, @booking.build_review], html: { id: "review-form" } ) do |f| %>
        <fieldset>
          <legend>Avalie sua estadia</legend>
          <p>
            <%= f.label :rating %>
            <%= f.select :rating,
                         Review.ratings.map { |rating, value| [
                           t("activerecord.attributes.review.ratings_opt.#{rating.titleize} = #{value}"), rating
                         ] },
                         prompt: 'Selecione uma opção' %>
          </p>

          <p>
            <%= f.label :comment %>
            <%= f.text_area :comment %>
          </p>
        </fieldset>

        <p>
          <%= f.submit 'Enviar' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% unless @booking.review.nil? %>
    <hr>

    <h3><%= Review.model_name.human %></h3>
    <%= render 'shared/reviews', reviews: [@booking.review] %>
  <% end %>
</article>