<div id="<%= dom_id room %>">
<h3><%= room.name %></h3>
  <dl>
    <dt>Descrição:</dt>
    <dd><%= room.description %></dd>
    <dt>Tamanho:</dt>
    <dd><%= room.size %> m<sup>2</sup></dd>
    <dt>Acomodação Máxima:</dt>
    <dd><%= room.max_people %></dd>
    <dt>Valor da Diária:</dt>
    <dd><%= number_to_currency(room.daily_rate, unit: 'R$ ', separator: ',', delimiter: '.') %></dd>
    <dt>Banheiro:</dt>
    <dd><%= room.bathroom? == true ? 'Sim' : 'Não' %></dd>
    <dt>Varanda:</dt>
    <dd><%= room.balcony? == true ? 'Sim' : 'Não' %></dd>
    <dt>Ar Condicionado:</dt>
    <dd><%= room.air_conditioning == true ? 'Sim' : 'Não' %></dd>
    <dt>TV:</dt>
    <dd><%= room.tv == true ? 'Sim' : 'Não' %></dd>
    <dt>Guarda-roupa:</dt>
    <dd><%= room.wardrobe == true ? 'Sim' : 'Não' %></dd>
    <dt>Cofre:</dt>
    <dd><%= room.safe == true ? 'Sim' : 'Não' %></dd>
    <dt>Acessível para PCDs:</dt>
    <dd><%= room.accessible == true ? 'Sim' : 'Não' %></dd>
    <% if guesthouse.guesthouse_owner.user == current_user %>
      <dt>Disponibilidade:</dt>
      <dd><%= room.available == true ? 'Sim' : 'Não' %></dd>
    <% end %>
  </dl>
</div>
