<article>
  <h2>Detalhes</h2>
  <%= link_to "Voltar", guesthouse_path(@guesthouse) %>
  <section>
    <%= render 'room', room: @room, guesthouse: @guesthouse  %>
    <p>
      <% if @guesthouse.guesthouse_owner.user == current_user %>
        <%= link_to 'Editar Quarto', edit_guesthouse_room_path(@guesthouse, @room) %>
      <% end %>
    </p>
  </section>

  <% if @guesthouse.guesthouse_owner.user == current_user %>
    <section  id="room_rates">
      <h3>Diárias por Período</h3>
      <p>
        <%= link_to "Criar Diária por Período", new_room_room_rate_path(@room) %>
      </p>
      <% @room.room_rates.each do |room_rate| %>
        <div>
          <%= render 'room_rates/room_rate', room: @room, guesthouse: @guesthouse, room_rate: room_rate %>
          <%= link_to 'Editar essa Diária', edit_room_room_rate_path(@room, room_rate) %>
        </div>
      <% end %>
      <% if @room.room_rates.empty? %>
        <p>Não há diárias cadastradas para este quarto.</p>
      <% end %>
    </section>
  <% end %>
</article>
