<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>GuesthouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <hr>
    <main>
      <p style="color: red">
        <%= flash[:alert] %>
      </p>
      <p style="color: green">
        <%= notice %>
      </p>
      <%= yield %>
    </main>
  </body>
</html>
