<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>GuesthouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Pousada App</h1>
      <nav>
        <ul>
          <li><%= link_to "Início", root_path %></li>
          <!-- <li><%#= link_to "Pousadas", guesthouses_path %></li>-->
        </ul>
      </nav>
      <div>
        <% if user_signed_in? %>
          <p><%= current_user.email %></p>
          <%= button_to "Sair", destroy_user_session_path, method: :delete %>
        <% else %>
          <% unless current_page?(user_session_path) || current_page?(new_user_registration_path) %>
            <%= link_to "Entrar", new_user_session_path %>
          <% end %>
        <% end %>
      </div>
    </header>
    <main>
      <p>
        <%= flash[:alert] %>
        <%= flash[:notice] %>
      </p>
      <%= yield %>
    </main>
  </body>
</html>
